.main-wrapper {
   grid-area: content;
   background-color: #C1A0A1;
}

.main-image {
   width: 600px;
   height: 300px;
}

.main-user {
   display: flex;
}

.user-avatar {
   margin-right: 70px;
}

.avatar {
   width: 100px;
   height: 100px;
}