.wrapper {
   grid-area: content;
   background-color: #C1A0A1;
}

.image img{
   width: 600px;
   height: 300px;
}

.user {
   display: flex;
}

.avatar {
   margin-right: 50px;
}

.avatar img{
   width:200px;
   height: 200px;
}