.sidebar {
  grid-area: sidebar;
  background-color: #ED533B;
}

.listWrapper {
  margin: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
}

.link a{
  text-decoration: none;
  color: #662e1c;
  transition: color 0.2s linear;
}
.link a:hover{
  color: #fff;
}

.link .active{
  color: #fff;
}