.app-wrapper{
  display: grid;
  grid-template-areas: 
  "header header"
  "sidebar content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-header{
  grid-area: header;
  background-color: #EBB090;
}

.app-sidebar{
  grid-area: sidebar;
  background-color: #ED533B;
}

.main-wrapper{
  grid-area: content;
  background-color: #C1A0A1;
}

.logo{
  width: 40px;
  height: 40px;
}

.main-image{
  width: 600px;
  height: 300px;
}

.main-user{
  display: flex;
}

.user-avatar{
  margin-right: 70px;
}

.avatar{
  width: 100px;
  height: 100px;
}