.wrapper{
   margin: 15px 0 0 15px;
}

.items{
   align-items: center;
}

.items img{
   width: 70px;
   height: 70px;
   border-radius: 50%;
}

.username{
   margin-left: 10px;
   font-size: 15px;
}

.item_container{
   display: grid;
   grid-template-columns: 2fr 10fr;
   margin-bottom: 10px;
   align-items: center;
   border: 1px solid #000 ;
   width: 800px;
   padding: 5px;
}

.message{
   padding-left: 60px;
   width: 500px;
}
.item{
   width: 200px;
   display: grid;
   grid-template-columns: 2fr 2fr;
   align-items: center;
   justify-content: center;
}