.wrapper{
   margin: 15px 0 0 15px;
}

.items{
   display: grid;
   grid-template-columns: 1fr 10fr;
}

.dialog_container{
   align-items: center;
}

.dialog_container img{
   width: 70px;
   height: 70px;
   border-radius: 50%;
   margin-bottom: 10px; 
}



